<div class="drilldown mt-3">
    <div class="row">
        <div class="offset-md-1 col-md-4">
            Source Branch

            <select class="branch-selector" [(ngModel)]="sourceId" (ngModelChange)="updateBranches()">
                <option *ngFor="let b of branches" [ngValue]="b.branchId">{{b.branchName}}</option>
            </select>
        </div>
        <div class="offset-md-1 col-md-1" style="font-size:4em;">
            <i class="fa fa-long-arrow-alt-right"></i>
        </div>
        <div class="col-md-4">
            Target Branch
            <div class="target-branch">develop</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="offset-md-1 col-md-10">
        <div class="row">
            <div class="col-md-9">
                <branch-comparison-overview [sourceId]="sourceId" [targetId]="targetId"></branch-comparison-overview>
            </div>
            <div class="col-md-3">
                <branch-distance [sourceBranch]="sourceBranch"></branch-distance>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="offset-md-1 col-md-4">
        <branch-comparison-summary [sourceId]="sourceId" [targetId]="targetId"></branch-comparison-summary>
    </div>
    <div class="col-md-6">
        <branch-comparison-details [sourceId]="sourceId" [targetId]="targetId"></branch-comparison-details>
    </div>
</div>