@import './../../../assets/themes/dark-orange.less';

.target-branch{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid @branch-selector-border-color;
}