<div class="status-indicator" (mouseover)="showText=true;" (mouseleave)="showText=false;">
    <span class="status-value badge-{{class}}">{{value}}</span>
    <span class="status-key badge-secondary">{{jobStatus.shortName}}</span>
    <br>
    <small *ngIf="showText">{{jobStatus.lastRun | date : "dd MMM HH:mm"}}</small>
</div>