.status-indicator {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    cursor: help;
}

.status-indicator .status-key {
    float: right;
    font-size: 11px;
    color: #FFF;
    padding: 6px;
    border-radius: 5px 0px 0px 5px;
}

.status-indicator .status-value {
    float: right;
    font-size: 11px;
    color: #FFF;
    padding: 6px;
    border-radius: 0px 5px 5px 0px;
}