.progress {
    margin-bottom:0px;
}

.progress-health {
    cursor: pointer;
}

/*IMPLEMENT LESS OR SASS*/

.coverage-20 {
    background-color: #d8ffe6;
    color: #333;
}

.coverage-30 {
    background-color: #a5ffc6;
    color: #333;
}

.coverage-40 {
    background-color: #72ffa5;
    color: #333;
}

.coverage-50 {
    background-color: #3fff85;
    color: #333;
}

.coverage-60 {
    background-color: #0cff65;
    color: #333;
}

.coverage-70 {
    background-color: #00d84f;
    color: #333;
}

.coverage-80 {
    background-color: #00a53c;
    color: #333;
}

.coverage-90 {
    background-color: #00722a;
    color: #FFF;
}

.no-coverage {
    background: repeating-linear-gradient(
        45deg,
        #00722a,
        #00722a 10px,
        #00a53c 10px,
        #00a53c 20px
    );
}

/* Flash class and keyframe animation */
.flashit{
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}
