<div class="card mt-1">
    <div class="card-header border-dark p-2">
      Job Execution Timeline
      <a class="help" (click)="showHelp(help)"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    </div>
    <div class="card-body p-3">
        <div class="widget-container widget-container-sm2">
        <sk-wave *ngIf="state === WIDGET_STATE.Loading"></sk-wave>

        <div class="do-data" *ngIf="state === WIDGET_STATE.Unitialized">
          No data to display
        </div>

      <ngx-charts-area-chart *ngIf="state === WIDGET_STATE.Success"
        [scheme]="colorScheme"
        [results]="groupedResults"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="false"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Time Taken(mins)'"
        [yAxisLabel]="'Time Taken(mins)'"
        [showGridLines]="false"
        [xAxisTickFormatting]="tickFormatter">
      </ngx-charts-area-chart>
    </div>
    </div>
  </div>

  <ng-template #help let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pipelines Overview</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
          This widget shows a list of all active Branches in TFS and displays their health in terms of
          test passed / failed / skipped in the last run on Jenkins Server
      </p>
      <p>
        <span class="badge badge-success px-2"># of tests passed</span>
      </p>
      <p>
        <span class="badge badge-danger px-2"># of tests failed</span>
      </p>
      <p>
        <span class="badge badge-warning px-2"># of tests skipped</span>
      </p>
    </div>
  </ng-template>