<div class="container">
  <div class="title">
    {{title}}
    <a class="help" (click)="showHelp(help)"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
  </div>


  <sk-wave *ngIf="state === WIDGET_STATE.Loading"></sk-wave>

  <div class="do-data-small" *ngIf="state === WIDGET_STATE.Unitialized">
    No data to display
  </div>

  <div class="result" *ngIf="state === WIDGET_STATE.Success">{{number}}</div>
</div>

<ng-template #help let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      Shows the number of tests greater or lesser compared to the target

      e.g
      <div class="help-positive">134</div> tests more than target
      <br> or
      <div class="help-negative">100</div> tests less than target
  </div>
</ng-template>