<div class="drilldown">
  <div class="row">
    <div class="offset-md-1 col-md-10">
        <div class="card mt-3">
          <div class="card-header pl-2 pt-2 pb-2">
              Branch Leaderboard
              <a class="help"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
          </div>
          <div class="card-body p-3">
              <div class="widget-container widget-container-xxl">
                  <sk-wave *ngIf="state === WIDGET_STATE.Unitialized || state === WIDGET_STATE.Loading"></sk-wave>

                  <div class="do-data" *ngIf="state === WIDGET_STATE.Success && !branchLeaderboard.length">
                    No data to display
                  </div>

                  <div class="alert alert-danger" *ngIf="state === WIDGET_STATE.Failure">
                    <strong>Error loading widget:</strong>
                    <p>Msssage: {{errMsg}}</p>
                    <p>Stack Trace: {{errStackTrace}}</p>
                  </div>

                  <ul class="list-group leadboard-list" *ngIf="state === WIDGET_STATE.Success && branchLeaderboard.length">
                    <li class="list-group-item m-1 rounded header">
                      <div class="row">
                          <div *ngFor="let header of headerCollection" class="{{header.cssClass}}" (click)="sort(header)">
                            <span>{{header.displayName}}</span>
                            <span *ngIf="header.direction === null"><i class="fa fa-sort ml-2"></i></span>
                            <span *ngIf="header.direction === 'asc'"><i class="fa fa-sort-up ml-2"></i></span>
                            <span *ngIf="header.direction === 'desc'"><i class="fa fa-sort-down ml-2"></i></span>
                          </div>
                      </div>
                    </li>

                    <li class="list-group-item m-1 rounded" *ngFor="let item of branchLeaderboard">
                      <div class="row">
                        <div class="col-md-5 branch">{{item.branchName}}</div>
                        <div class="col-md-1 result text-right">{{item.score}}</div>
                        <div class="col-md-2 result text-right negative">{{item.commitsBehind}}</div>
                        <div class="col-md-1 result text-right positive">{{item.commitsAhead}}</div>
                        <div class="col-md-1 result text-right" [ngClass]="{'positive' : item.totalUnitTests > 0, 'negative': item.totalUnitTests < 0}">{{item.totalUnitTests}}</div>
                        <div class="col-md-1 result text-right" [ngClass]="{'positive' : item.totalIntegTests > 0, 'negative': item.totalIntegTests < 0}">{{item.totalIntegTests}}</div>
                        <div class="col-md-1 result text-right" [ngClass]="{'positive' : item.totalXATTests > 0, 'negative': item.totalXATTests < 0}">{{item.totalXATTests}}</div>
                      </div>
                    </li>
                  </ul>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>