@import './../../../assets/themes/dark-orange.less';

@font-face {
	font-family: 'DSDIGI';
	src: url('./../../../assets/fonts/dsdigi/DSDIGI.eot');
	src: local('DSDIGI'), url('./../../../assets/fonts/dsdigi/DSDIGI.woff') format('woff'), url('./../../../assets/fonts/dsdigi/DSDIGI.ttf') format('truetype');
}

.leadboard-list {
    transition: all 0.2s ease-in-out;
}

.leadboard-list li:not(:first-child):hover {
    background-color: lighten(@primary-color, 40%);
}

.leadboard-list .header{
    font-size: 16px;
    font-weight: bold;
    background-color: @table-header-color;
    position: sticky;
    top: 0;
    background: @table-header-color;
    z-index: 999;
}

.leadboard-list .branch {
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.leadboard-list .result {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background: -webkit-linear-gradient(@nav-baseColor, @card-header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leadboard-list .positive{
    background: -webkit-linear-gradient(green, @card-header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leadboard-list .negative{
    background: -webkit-linear-gradient(red, @card-header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}