@import './../../../assets/themes/dark-orange.less';

img {
    width: 46px;
    height: 36px;
    padding-right: 10px;
}

nav {
    /*background-color: #62666a;*/
    background-image: linear-gradient(90deg, @nav-baseColor, @nav-gradientColor);
    border-bottom: 1px solid @primary-color;
}

.bg-primary {
    background-color: @primary-color !important;
}

.bg-primary:hover {
    background-color: transparent !important;
    color: @primary-color !important;
}