<nav class="navbar navbar-expand-sm rounded">
    <a routerLink="drilldown"><img src="/assets/images/logo.png" /></a>
    <a routerLink="drilldown"><h5 class="text-white mt-1">Pipeline Portal</h5></a>

    <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav">
            <li class="nav-item ml-4">
              <a class="nav-link bg-primary rounded text-white border border-white" routerLink="drilldown">Drilldown</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link bg-primary rounded text-white border border-white" routerLink="branchComparison">Branch Comparison</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link bg-primary rounded text-white border border-white" routerLink="branchLeadboard">Leaderboard</a>
            </li>
            <li class="nav-item ml-4">
              <a class="nav-link bg-primary rounded text-white border border-white" routerLink="branchAnalytics">Analytics</a>
            </li>
          </ul>
    </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2" *ngIf="false">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto mr-5">
                <a class="nav-link bg-primary rounded text-white border border-white px-3" href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>