﻿<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="<%= (attr :_basedir) %>sect1/sect1.html">(placeholder)</a></li>
        <li><a href="<%= (attr :_basedir) %>sect1/sect2.html">(placeholder)</a></li>
    </ul>
</li>
