<div class="drilldown">

  <div class="row">
      <div class="col-sm-2 ml-3 mt-3">
          Select Branch:
          <select class="branch-selector" [(ngModel)]="selectedBranch" (ngModelChange)="getBranchStatus()">
            <option *ngFor="let b of branches" [ngValue]="b">{{b.branchName}}</option>
          </select>

          <status-indicator *ngFor="let js of jobStatuses" [jobStatus]="js"></status-indicator>
      </div>

      <div class="col-sm-9">
          <branch-health *ngIf="selectedBranch" [branch]="selectedBranch"></branch-health>
      </div>
  </div>

</div>