<div class="card mt-3">
    <div class="card-header border-dark p-2">
      Pipeline Overview
      <a class="help" (click)="showHelp(help)"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    </div>
    <div class="card-body p-3">
        <div class="widget-container widget-container-xl">
        <sk-wave *ngIf="state === WIDGET_STATE.Unitialized || state === WIDGET_STATE.Loading"></sk-wave>

        <div class="do-data" *ngIf="state === WIDGET_STATE.Success && !repos.length">
          No data to display
        </div>

        <div class="alert alert-danger" *ngIf="state === WIDGET_STATE.Failure">
          <strong>Error loading widget:</strong>
          <p>Msssage: {{errMsg}}</p>
          <p>Stack Trace: {{errStackTrace}}</p>
        </div>

        <table class="table table-bordered table-hover table-sm table-fixhead" *ngIf="state === WIDGET_STATE.Success && repos.length">
          <thead>
            <tr>
              <th *ngFor="let header of headerCollection" class="sortable p-2" (click)="sort(header)">
                {{header.displayName}}
                <span *ngIf="header.direction === null"><i class="fa fa-sort ml-2"></i></span>
                <span *ngIf="header.direction === 'asc'"><i class="fa fa-sort-up ml-2"></i></span>
                <span *ngIf="header.direction === 'desc'"><i class="fa fa-sort-down ml-2"></i></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let repo of repos">
              <td class="p-2">
                <a routerLink="/branch/{{repo.branchId}}" target="_blank">{{repo.branch}}</a>
              </td>
              <td class="p-2">
                <span class="badge badge-success px-2">{{repo.testResults.totalPassed}}</span>
              </td>
              <td class="p-2">
                <span class="badge badge-danger px-2">{{repo.testResults.totalFailed}}</span>
              </td>
              <td class="p-2">
                <span class="badge badge-warning px-2">{{repo.testResults.totalSkipped}}</span>
              </td>
              <td class="p-2">
                <progress-health [testResults]="repo.testResults"></progress-health>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
  </div>

  <ng-template #help let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pipelines Overview</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
          This widget shows a list of all active Branches in TFS and displays their health in terms of
          test passed / failed / skipped in the last run on Jenkins Server
      </p>
      <p>
        <span class="badge badge-success px-2"># of tests passed</span>
      </p>
      <p>
        <span class="badge badge-danger px-2"># of tests failed</span>
      </p>
      <p>
        <span class="badge badge-warning px-2"># of tests skipped</span>
      </p>
    </div>
  </ng-template>