@import './../../../assets/themes/dark-orange.less';

.color1 {
    background-color: lighten(@primary-color, 30%);;
    color: #000;
}

.color2 {
    background-color: lighten(@primary-color, 20%);
    color: #000;
}

.color3 {
    background-color: @primary-color;
    color: #FFF;
}