<div class="row">
  <div class="col-md-4">
    <comparison-card
      [state]="state"
      [title]="'Unit Tests'"
      [source]="sourceDetails && sourceDetails[0].totalUnitTests"
      [target]="targetDetails && targetDetails[0].totalUnitTests"
    ></comparison-card>
  </div>
  <div class="col-md-4">
    <comparison-card
      [state]="state"
      [title]="'Integ Tests'"
      [source]="sourceDetails && sourceDetails[0].totalIntegTests"
      [target]="targetDetails && targetDetails[0].totalIntegTests"
    ></comparison-card>
  </div>
  <div class="col-md-4">
    <comparison-card
      [state]="state"
      [title]="'XAT Tests'"
      [source]="sourceDetails && sourceDetails[0].totalXATTests"
      [target]="targetDetails && targetDetails[0].totalXATTests"
    ></comparison-card>
  </div>
</div>
