@nav-baseColor: #313335;
@nav-gradientColor: lighten(@nav-baseColor, 20%);

@body-bgColor : #e8ebed;
@primary-color: #f05c1f;

@card-header-color: lighten(@nav-baseColor, 15%);
@card-border-color: lighten(@primary-color, 20%);

@branch-selector-border-color: @card-border-color;

@text-color-primary: lighten(@primary-color, 20%);

@table-header-color: #eee;
