/*
* All relevant styles for the component comparisonDiff can
* reside in this .less file
*/
.comparisonDiff {
    float: right;
    font-size: 16px;
    font-weight1: bold;
  }

  .comparisonDiff .positive {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: green;
  }

  .comparisonDiff .negative {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: red;
  }
