<div class="row mt-2">
  <div class="offset-md-1 col-md-10">

    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Criteria</legend>

      <div class="option">
        <div class="control-group">
          <label class="control-label input-label">Build Type :</label>
          <select class="custom-select" [(ngModel)]="criteria.buildType" (ngModelChange)="getBranchAnalytics()" [disabled]="state === WIDGET_STATE.Loading">
            <option [ngValue]="BUILD_TYPE.All">All</option>
            <option [ngValue]="BUILD_TYPE.Project">Project Build</option>
            <option [ngValue]="BUILD_TYPE.PR">PR Build</option>
          </select>
        </div>
      </div>

      <div class="option">
        <div class="control-group">
          <label class="control-label input-label">Date Range :</label>
          <select class="custom-select" [(ngModel)]="criteria.dateRange" (ngModelChange)="getBranchAnalytics()" [disabled]="state === WIDGET_STATE.Loading">
            <option [ngValue]="DATE_RANGE_TYPE.Last30Days">Last 30 Days</option>
            <option [ngValue]="DATE_RANGE_TYPE.Last7Days">Last 7 Days</option>
            <option [ngValue]="DATE_RANGE_TYPE.Last24Hours">Last 24 Hours</option>
          </select>
        </div>
      </div>

      <div class="option">
        <div class="control-group">
          <label class="control-label input-label">Outcome Type :</label>
          <select class="custom-select" [(ngModel)]="criteria.outcomeType" (ngModelChange)="getBranchAnalytics()" [disabled]="state === WIDGET_STATE.Loading">
            <option [ngValue]="JOB_OUTCOME_TYPE.All">All</option>
            <option [ngValue]="JOB_OUTCOME_TYPE.Successful">Successful</option>
            <option [ngValue]="JOB_OUTCOME_TYPE.Failed">Failed</option>
            <option [ngValue]="JOB_OUTCOME_TYPE.Aborted">Aborted</option>
          </select>
        </div>
      </div>

      <div class="option">
        <div class="control-group">
          <label class="control-label input-label">Include Weekends :</label>
          <br />
          <div class="switch">
            <ui-switch switchColor="#62666a" color="#f6a27f" [checked]="criteria.includeWeekends" (change)="updateSwtich(1)" [disabled]="state === WIDGET_STATE.Loading"></ui-switch>
          </div>
        </div>
      </div>

      <div class="option">
        <div class="control-group">
          <label class="control-label input-label">Show Median Averages :</label>
          <br />
          <div class="switch">
            <ui-switch switchColor="#62666a" color="#f6a27f" [checked]="showMedian" (change)="updateSwtich(2)" [disabled]="state === WIDGET_STATE.Loading"></ui-switch>
          </div>
        </div>
      </div>

    </fieldset>
  </div>
</div>

<div class="row">
  <div class="offset-md-1 col-md-10">
    <div class="row">
        <div class="col-md-3">
          <number-card [state]="state" [title]="'Avg Wait Time (mins)'" [number]="avgWait"></number-card>
        </div>

        <div class="col-md-3">
            <number-card [state]="state" [title]="'Avg Block Time (mins)'" [number]="avgBlock"></number-card>
        </div>

        <div class="col-md-3">
            <number-card [state]="state" [title]="'Avg Duration Time (mins)'" [number]="avgDuration"></number-card>
        </div>

        <div class="col-md-3">
            <number-card [state]="state" [title]="'Avg Time Taken (mins)'" [number]="avgTimeTaken"></number-card>
        </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="offset-md-1 col-md-10">
    <branch-analytics-group [state]="state" [results]="results"></branch-analytics-group>
  </div>
</div>

<div class="row">
  <div class="offset-md-1 col-md-10">
    <branch-analytics-timeline [state]="state" [results]="results"></branch-analytics-timeline>
  </div>
</div>