/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import './assets/themes/dark-orange.less';

body {
  background-color: @body-bgColor;
}

.widget-container {
  height: 200px;
  overflow-y: auto;
}

.widget-container-sm{
  height: 135px;
}

.widget-container-sm2{
  height: 160px;
}

.widget-container-md{
  height: 280px;
}

.widget-container-lg{
  height: 400px;
}

.widget-container-xl{
  height: 500px;
}

.widget-container-xxl{
  height: 630px;
}

.do-data {
  padding-top: 10px;
  font-size: 16pt;
  color: @text-color-primary;
  text-align: center;
}

.do-data-small {
  padding-top: 16px;
  font-size: 12pt;
  color: @text-color-primary;
  text-align: center;
}

.do-data-branch {
  padding-top: 10px;
  font-size: 12pt;
  color: @text-color-primary;
  text-align: center;
  font-style: italic;
}

.do-data-branch .smiley {
  padding-bottom: 10px;
  font-size: 128pt;
  color: @text-color-primary;
  text-align: center;
}

.branch-selector {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid @branch-selector-border-color;
}

.wave-spinner > div {
  background-color: @primary-color !important;
}

.card {
  border: 1px solid @card-border-color;
}

.card-header {
  background-color: @card-header-color;
  color: @text-color-primary;
}

.border-dark {
  border-bottom: 1px solid @primary-color !important;
}

.table-sm {
  font-size: 14px;
}

.table-sm thead tr {
  background-color: @body-bgColor;
  color: @nav-baseColor;
}

.table-sm tbody tr:hover {
  background-color: @nav-gradientColor !important;
  color: @text-color-primary  !important;
}

.table-sm tr:hover a {
  color: @text-color-primary  !important;
}

a:hover {
  color: @primary-color;
}

.help {
  cursor: pointer;
}

.table-fixhead {
  overflow-y: auto;
}

.table-fixhead th {
  position: sticky;
  top: 0;
  background: @table-header-color;
}

.sortable {
  user-select: none;
  cursor: pointer !important;
}

.sortable span:hover {
  color: @text-color-primary;
  cursor: pointer !important;
}

.table-fixhead th:hover {
  color: @text-color-primary;
}
