@import './../../../assets/themes/dark-orange.less';

@font-face {
	font-family: 'DSDIGI';
	src: url('./../../../assets/fonts/dsdigi/DSDIGI.eot');
	src: local('DSDIGI'), url('./../../../assets/fonts/dsdigi/DSDIGI.woff') format('woff'), url('./../../../assets/fonts/dsdigi/DSDIGI.ttf') format('truetype');
}

.below {
    float: left;
    width: 50%;
    margin-top: 15px;
    height: 130px;
    border-right: 1px solid @nav-baseColor;
    text-align: right;
    padding-right: 10px;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
}

.ahead {
    float: right;
    width: 50%;
    height: 165px;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 50px;
    font-weight: bold;
}

.lbl {
    font-size: 10px;
}

.container {
    height: 200px;
    width: 100%;
    padding: 0px;
    border: 1px solid @card-border-color;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 3px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

.container a {
    font-family: 'DSDIGI';
}

.container:hover {
    transform: scale(1.1);
    background-color: lighten(@primary-color, 40%);
}

.container .title {
    height: 35px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: @card-header-color;
    color: @text-color-primary;
    border-bottom: 1px solid @card-border-color;
    border-radius: 3px 3px 0px 0px;
    font-size: 16px;
}

.container .result {
    font-family: 'DSDIGI';
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(@nav-baseColor, @card-header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .positive{
    background: -webkit-linear-gradient(green, @card-header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .negative{
    background: -webkit-linear-gradient(red, @card-header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.container .total {
    padding-top: 3px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid @card-header-color;
}

.color1 {
    background-color: lighten(@primary-color, 30%);;
    color: #000;
}

.color2 {
    background-color: lighten(@primary-color, 20%);
    color: #000;
}

.color3 {
    background-color: @primary-color;
    color: #FFF;
}

.help-positive{
    font-family: 'DSDIGI';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(green, @card-header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.help-negative {
    font-family: 'DSDIGI';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(red, @card-header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}