<div class="container">
    <div class="title">
      Distance to Target
      <a class="help" (click)="showHelp(help)"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    </div>

    <sk-wave *ngIf="state === WIDGET_STATE.Loading"></sk-wave>

    <div class="do-data-small" *ngIf="state === WIDGET_STATE.Unitialized">
      No data to display
    </div>

    <div class="alert alert-danger" *ngIf="state === WIDGET_STATE.Failure">
      <strong>Error loading widget:</strong>
      <p>Message: {{errMsg}}</p>
      <p>Stack Trace: {{errStackTrace}}</p>
    </div>

    <div *ngIf="state === WIDGET_STATE.Success">
        <div class="below">
            <span class="lbl">Behind</span>
           <a href="http://vssdmlivetfs:8080/tfs/BOMiLiveTFS/INTEG_MIRROR/_git/Trunk/branches?baseVersion=GBdevelop&targetVersion=GB{{stats.name}}&_a=commits" target="_blank" class="negative">{{stats.behindCount}}</a>
        </div>
        <div class="ahead">
           <a href="http://vssdmlivetfs:8080/tfs/BOMiLiveTFS/INTEG_MIRROR/_git/Trunk/branches?baseVersion=GBdevelop&targetVersion=GB{{stats.name}}&_a=commits" target="_blank" class="positive">{{stats.aheadCount}}</a>
           <span class="lbl">Ahead</span>
        </div>
    </div>

  </div>

  <ng-template #help let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Distance to Target</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Shows the number of commits ahead and / or behind a branch is compared to target

        e.g
        <div class="help-positive">15</div> commits ahead than target
        <br> or
        <div class="help-negative">50</div> commits behind than target
    </div>
  </ng-template>